body {
    /* color: #606c71; */
    color: #313131;
    text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#git_mark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
}
