body {
    color: #606c71;
}
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#git_mark {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
}
